
body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 960px;
    background-color: #4aaaa5;



}
.overall {
    width: 960px;
    margin: auto
    
}
h1{
    background-color: teal;
    margin: auto;
    padding: 0;
    color: white;
    margin-bottom: 20px;

}
.name{
    background-color: teal;
    font-size: 15px;
    padding-top: 20px;

}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-right: 15px;
    margin: auto;
    border: #cccccc;

}
.sub-headers {
    display: flex;
    justify-content: space-between;
    width: 250px;
    font-size: 20px;
    
}

h2{
    nav-left: auto;
}

.content {
    padding:  20px;
    margin: auto; 
    background-color: #ffffff;
    box-shadow: 0 0 10px #dddddc;
    

}
.img-text {
    display: flex;
    justify-content: space-between;
}

.line {
    border: 1px solid;
    margin-bottom: 20px;
}
 .footer{
     
     border-top: 8px solid teal;
     background-color: #666666;
    
    
 }
.text{
    margin: 0 auto;
    padding-left: 10px;
    color: #777777;
}
#beads{
    color: #777777;
}
p2{
    color: #777777;
}
.images{
    width: 250px;
    height: 250px;
    padding-left: 25px;
    padding-inline: 25px;
}
.img-content {
    top: -40px;
    left: 110px;
    position: relative;
    background-color: aquamarine;
    width: fit-content;
    border-block: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
}
.submit-button{
background-color: teal

}




